node_modules/
.env
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.npm/
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.next
.nuxt
dist
.vuepress/dist
.serverless/
.firebase/
.firebaserc
.parse.local
.parse.project
